/* demo bubl css */
.box .Interactwithcitizecopy-1{
}

.box .Homecopy-2{
}

.box .mslogo2012allwhitecopy-3{
}

.box .enhance-4{
}

.box .Rollovertapthe-5{
}

.box .Digitalbydefault-6{
}

.box .Automatethedocumen-7{
}

.box .Improvecitizeninte-8{
}

.box .Streamlinebusiness-9{
}

.box .CustomerSuccesses-10{
}

.box .MicrosoftSolutions-11{
}

.box .SunderlandCouncil-12{
}

.box .NewhamBoroughCounc-13{
}

.box .MicrosoftDynamics-14{
}

.box .MicrosoftAzure-15{
}

.box .SQLServer-16{
}

.box .Windows10Devices-17{
}

.box .Back-18{
}

.box .CloudProductivitya-19{
}

.box .RectangleLayer1-20{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
