/* demo bubl css */
.box .Integreon-1{
}

.box .Glenigan-2{
}

.box .Norland-3{
}

.box .Canaccord-4{
}

.box .MicrosoftAzurecopy-5{
}

.box .Office365copy-6{
}

.box .Windows10andDevi-7{
}

.box .SharePointcopy-8{
}

.box .MicrosoftDynamicscopy-9{
}

.box .CustomerSuccesses-10{
}

.box .mslogo2012allwhitecopy-11{
}

.box .operation-12{
}

.box .Rollovertapthe-13{
}

.box .Fullyoperationalan-14{
}

.box .Moderncommunication-15{
}

.box .Familiarandeasyto-16{
}

.box .Streamlineprocesses-17{
}

.box .Througheffectiveco-18{
}

.box .MicrosoftSolutions-19{
}

.box .Home-20{
}

.box .EnhancedProductivit-21{
}

.box .RectangleLayer1-22{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
