/* demo bubl css */
.box .InformationforFina-1{
}

.box .MicrosoftLogo-2{
}

.box .cloudcogs-3{
}

.box .BlankBox1-4{
}

.box .BlankBox2-5{
}

.box .HealthKellyLimonteFinancialDirector-6{
}

.box .Howcantechnology-7{
}

.box .Usingthepowerof-8{
}

.box .Simplifythecloudf-9{
}

.box .Themobileageishe-10{
}

.box .RightSideGraphic-11{
}

.box .Withspirallingwor-12{
}

.box .Home-13{
}

.box .Clicktapanyoft-14{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}
