/* demo bubl css */
.box .mslogo2012allwhitecopy-1{
}

.box .Rollovertapthe-2{
}

.box .Exploreinformation-3{
}

.box .Connectwiththewor-4{
}

.box .Handleanydataany-5{
}

.box .Makebetterdecision-6{
}

.box .CustomerSuccesses-7{
}

.box .MicrosoftSolutions-8{
}

.box .MEC-9{
}

.box .PowerBI-10{
}

.box .MicrosoftDynamics-11{
}

.box .Office365-12{
}

.box .MicrosoftAzure-13{
}

.box .Back-14{
}

.box .Home-15{
}

.box .InformedDataDrive-16{
}

.box .audience-17{
}

.box .RectangleLayer1-18{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
