/* demo bubl css */
.box .mslogo2012allwhitecopy-1{
}

.box .Rollovertapthe-2{
}

.box .Turnshowroomingint-3{
}

.box .Deliverimmediategr-4{
}

.box .Microsoftsinnovati-5{
}

.box .CustomerSuccesses-6{
}

.box .MicrosoftSolutions-7{
}

.box .SheratonHotels-8{
}

.box .RoomstoGo-9{
}

.box .Amway-10{
}

.box .JeanCoutu-11{
}

.box .Windows10Devices-12{
}

.box .SharePoint-13{
}

.box .Office365-14{
}

.box .MicrosoftDynamics-15{
}

.box .Back-16{
}

.box .Home-17{
}

.box .WorkAnywherewithW-18{
}

.box .bogof-19{
}

.box .RectangleLayer1-20{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
