/* demo bubl css */
.box .Windows10Devices-1{
}

.box .SharePoint-2{
}

.box .MicrosoftAzure-3{
}

.box .mslogo2012allwhitecopy-4{
}

.box .Rollovertapthe-5{
}

.box .Standardiseandinte-6{
}

.box .Drivesalesimprove-7{
}

.box .Meettheeverchangi-8{
}

.box .CustomerSuccesses-9{
}

.box .MicrosoftSolutions-10{
}

.box .JeanCoutu-11{
}

.box .Back-12{
}

.box .Home-13{
}

.box .WorkAnywherewithW-14{
}

.box .pos-15{
}

.box .RectangleLayer1-16{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
