/* demo bubl css */
.box .Areva-1{
}

.box .MGBryancopy-2{
}

.box .ThyssenKrupp-3{
}

.box .CustomerSuccesses-4{
}

.box .mslogo2012allwhitecopy-5{
}

.box .research-6{
}

.box .Rollovertapthe-7{
}

.box .PredictiveAssetMan-8{
}

.box .SmartAnalytics-9{
}

.box .ImprovedAssetManag-10{
}

.box .Utiliseselfawaret-11{
}

.box .MicrosoftSolutions-12{
}

.box .PowerBI-13{
}

.box .SharePoint-14{
}

.box .Office365-15{
}

.box .SQLServer-16{
}

.box .MicrosoftAzure-17{
}

.box .Back-18{
}

.box .Home-19{
}

.box .InformedDataDrive-20{
}

.box .RectangleLayer1-21{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:10.67px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
