/* demo bubl css */
.box .mslogo2012allwhitecopy-1{
}

.box .Rollovertapthe-2{
}

.box .Freeyourstoremana-3{
}

.box .Boosttheproductivi-4{
}

.box .Empoweryoursalesa-5{
}

.box .Helpyoursalesasso-6{
}

.box .CustomerSuccesses-7{
}

.box .MicrosoftSolutions-8{
}

.box .Tesco-9{
}

.box .BritishAirways-10{
}

.box .LOccitaneenProven-11{
}

.box .WestfieldGroup-12{
}

.box .Office365-13{
}

.box .Yammer-14{
}

.box .Windows10andDevi-15{
}

.box .MicrosoftDynamics-16{
}

.box .Back-17{
}

.box .Home-18{
}

.box .CloudProductivitya-19{
}

.box .fivescreens-20{
}

.box .RectangleLayer1-21{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle0{
	margin-left: 13px;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
