/* demo bubl css */
.box .InformationforCCIO-1{
}

.box .Microsoftlogo-2{
}

.box .CloudCogs-3{
}

.box .BlankBox1-4{
}

.box .BlankBox2-5{
}

.box .SuzyFosterhealthintro-6{
}

.box .Iwanttoengagepat-7{
}

.box .Ineedclinicallyre-8{
}

.box .SimplifytheCloudf-9{
}

.box .Teamsneedtobeabl-10{
}

.box .RightSideGraphic-11{
}

.box .TheNHSisexperien-12{
}

.box .Home-13{
}

.box .Clicktapanyoft-14{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}
