/* demo bubl css */
.box .Socialiseinformatio-1{
}

.box .Unconstrainedaccess-2{
}

.box .Fastermoreaccurat-3{
}

.box .Improveperformance-4{
}

.box .Connectedaccessto-5{
}

.box .ManhattanAssociate-6{
}

.box .SharePoint-7{
}

.box .Yammer-8{
}

.box .Office365copy-9{
}

.box .Lync-10{
}

.box .mslogo2012allwhitecopy-11{
}

.box .platform-12{
}

.box .Rollovertapthe-13{
}

.box .Fieldworkerscanus-14{
}

.box .CustomerSuccesses-15{
}

.box .MicrosoftSolutions-16{
}

.box .Back-17{
}

.box .Home-18{
}

.box .WorkAnywherewithW-19{
}

.box .RectangleLayer1-20{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
