/* demo bubl css */
.box .mslogo2012allwhitecopy-1{
}

.box .operation-2{
}

.box .Rollovertapthe-3{
}

.box .Deliverinexpensive-4{
}

.box .Takeadvantageofcl-5{
}

.box .Acceleratebusiness-6{
}

.box .Connectyourpeople-7{
}

.box .CustomerSuccesses-8{
}

.box .MicrosoftSolutions-9{
}

.box .KronesAG-10{
}

.box .KukaSystemsGroup-11{
}

.box .MGBryan-12{
}

.box .Office365-13{
}

.box .Windows10andDevi-14{
}

.box .SharePoint-15{
}

.box .MicrosoftDynamics-16{
}

.box .Back-17{
}

.box .Home-18{
}

.box .CloudProductivitya-19{
}

.box .RectangleLayer1-20{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
