/* demo bubl css */
.box .Makesenseofextenscopy-1{
}

.box .Homecopy-2{
}

.box .mslogo2012allwhitecopy-3{
}

.box .dashboard-4{
}

.box .Rollovertapthe-5{
}

.box .Dashboardsforactio-6{
}

.box .Applypredictiveana-7{
}

.box .Makedatasecuritye-8{
}

.box .Securelyleverageth-9{
}

.box .CustomerSuccesses-10{
}

.box .MicrosoftSolutions-11{
}

.box .GlasgowCityCouncil-12{
}

.box .SQLServer-13{
}

.box .PowerBI-14{
}

.box .MicrosoftAzure-15{
}

.box .Back-16{
}

.box .InformedDataDrive-17{
}

.box .RectangleLayer1-18{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
