/* demo bubl css */
.box .FeaturedTitle-1{
}

.box .FeaturedText-2{
}

.box .SamplePowerpointDo-3{
}

.box .SamplePDF-4{
}

.box .SampleWordDocument-5{
}

.box .SampleExcelDocumen-6{
}

.box .FeaturedContentPanel-7{
}

.box .DONOTEDITBELOWTHIS-8{
}

.box .MSFTlogorgbCGray-9{
}

.box .FEEBUBMarleenReininger-10{
}

.box .MarleenReininger-11{
}

.box .CorporateAccountMa-12{
}

.box .ThisiswheretheCT-13{
}

.box .NextSteps-14{
}

.box .MicrosoftVision-15{
}

.box .WorkAnywhereonAn-16{
}

.box .ComprehensiveManage-17{
}

.box .IncreaseFlexibility-18{
}

.box .EnhancedProductivit-19{
}

.box .ImprovedSecurity-20{
}

.box .BetterCustomerSer-21{
}

.box .ProfessionalService-22{
}

.box .MainBox-23{
}

.box .fsbkgd208112014071954-24{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:48px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Comic Sans MS;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:32px;
	font-family:Calibri;
}
