/* demo bubl css */
.box .LufthansaSystemscopy-1{
}

.box .SaudiAirlinescopy-2{
}

.box .HollandAmericacopy-3{
}

.box .mslogo2012allwhitecopy-4{
}

.box .Rollovertapthe-5{
}

.box .Gaininsightstohel-6{
}

.box .Determinetheright-7{
}

.box .Relyoneasytouse-8{
}

.box .Supportdecisionmak-9{
}

.box .CustomerSuccesses-10{
}

.box .MicrosoftSolutions-11{
}

.box .HyVee-12{
}

.box .PowerBI-13{
}

.box .MicrosoftDynamics-14{
}

.box .Office365-15{
}

.box .MicrosoftAzure-16{
}

.box .Back-17{
}

.box .Home-18{
}

.box .InformedDataDrive-19{
}

.box .targe2t-20{
}

.box .RectangleLayer1-21{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
