/* demo bubl css */
.box .MicrosoftLogo-1{
}

.box .Health-2{
}

.box .FEEBUBMarleenReininger-3{
}

.box .ThisiswheretheCT-4{
}

.box .MarleenReininger-5{
}

.box .MarleenReiningerC-6{
}

.box .CEOandCOO-7{
}

.box .FinanceDirectors-8{
}

.box .TheFutureDecoded-9{
}

.box .CliniciansandNurse-10{
}

.box .CCIO-11{
}

.box .NextSteps-12{
}

.box .MainBox-13{
}

.box .BackgroundImage-14{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:48px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Comic Sans MS;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:12px;
	font-family:Calibri;
}
