/* demo bubl css */
.box .globe07012015075732-1{
}

.box .cloudyellcopy-2{
}

.box .Clicktapanyoft-3{
}

.box .Homecopy-4{
}

.box .hpccapabilities-5{
}

.box .RectangleLayer63copy2-6{
}

.box .RectangleLayer63copy-7{
}

.box .ModernProductivity-8{
}

.box .SocialProductivity-9{
}

.box .DevicesinDiscrete-10{
}

.box .MobileSalesForce-11{
}

.box .Mobilesolutionsar-12{
}

.box .WorkAnywherewithW-13{
}

.box .mslogo2012allwhite-14{
}

.box .FEEBUBGregWalkerMobility-15{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}
