/* demo bubl css */
.box .Visualisedatatogacopy-1{
}

.box .Homecopy-2{
}

.box .LeicesterCityCouncil-3{
}

.box .CustomerSuccessescopy-4{
}

.box .mslogo2012allwhitecopy-5{
}

.box .processes13012015095445-6{
}

.box .Rollovertapthe-7{
}

.box .Performandcollabor-8{
}

.box .Improveresourceman-9{
}

.box .Improveoutcomesfor-10{
}

.box .MicrosoftSolutions-11{
}

.box .PowerBI-12{
}

.box .SharePoint-13{
}

.box .SQLServer-14{
}

.box .Back-15{
}

.box .InformedDataDrive-16{
}

.box .RectangleLayer1-17{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
