/* demo bubl css */
.box .mslogo2012-1{
}

.box .Offender360View-2{
}

.box .Trackoffendersthro-3{
}

.box .Tablet-4{
}

.box .TuServEventsDashboardEventPlaceHolder-5{
}

.box .DashboardEvents-6{
}

.box .CaptureEvidence-7{
}

.box .PersonSearch-8{
}

.box .ManageTasks-9{
}

.box .OffenceReport-10{
}

.box .ProductsTitle-11{
}

.box .MicrosoftDynamics-12{
}

.box .Office365-13{
}

.box .MicrosoftAzure-14{
}

.box .CUSTOMERSCENARIOS-15{
}

.box .CustomerScenariosTitle-16{
}

.box .DurhamConstabulary-17{
}

.box .HomeButton-18{
}

.box .Background-19{
}

.fontstyle0{
	color:rgba(89,89,89,255);
	font-size:14.67px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(127,127,127,255);
	font-size:34.67px;
	font-family:Arial;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:14.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(0,112,192,255);
	font-size:17.33px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(89,89,89,255);
	font-size:16px;
	font-family:Calibri;
}
