/* demo bubl css */
.box .BP-1{
}

.box .Grid4EU-2{
}

.box .Yammercopy-3{
}

.box .Lynccopy-4{
}

.box .SharePointcopy-5{
}

.box .MicrosoftDynamicscopy-6{
}

.box .mslogo2012allwhitecopy-7{
}

.box .productivity-8{
}

.box .Rollovertapthe-9{
}

.box .SeamlessCollaborati-10{
}

.box .StakeholderManageme-11{
}

.box .CustomerPortals-12{
}

.box .Extendresourceacce-13{
}

.box .CustomerSuccesses-14{
}

.box .MicrosoftSolutions-15{
}

.box .Back-16{
}

.box .Home-17{
}

.box .CloudProductivitya-18{
}

.box .RectangleLayer1-19{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:10.67px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle6{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle7{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
