/* demo bubl css */
.box .EDF-1{
}

.box .CustomerSuccesses-2{
}

.box .mslogo2012allwhitecopy-3{
}

.box .processes13012015110953-4{
}

.box .Rollovertapthe-5{
}

.box .OutageManagement-6{
}

.box .SituationalAwarenes-7{
}

.box .PlantManagement-8{
}

.box .IntelligentOiland-9{
}

.box .Microsoftsolutions-10{
}

.box .MicrosoftSolutions-11{
}

.box .Powerco-12{
}

.box .Office365-13{
}

.box .MicrosoftAzure-14{
}

.box .SQLServer-15{
}

.box .Back-16{
}

.box .Home-17{
}

.box .InformedDataDrive-18{
}

.box .RectangleLayer1-19{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:10.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle6{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle7{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
