/* demo bubl css */
.box .CustomerSuccesses-1{
}

.box .mslogo2012allwhitecopy-2{
}

.box .connect-3{
}

.box .Rollovertapthe-4{
}

.box .TransformCustomerS-5{
}

.box .ManageDefaultingCu-6{
}

.box .DigitalCustomer-7{
}

.box .UnderstandingYourC-8{
}

.box .Providea360degree-9{
}

.box .MicrosoftSolutions-10{
}

.box .HydroOne-11{
}

.box .Centropol-12{
}

.box .SouthWestWater-13{
}

.box .Office365-14{
}

.box .MicrosoftDynamics-15{
}

.box .SharePoint-16{
}

.box .MicrosoftAzure-17{
}

.box .Back-18{
}

.box .Home-19{
}

.box .InformedDataDrive-20{
}

.box .RectangleLayer1-21{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:10.67px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
