/* demo bubl css */
.box .CustomerSuccessescopy-1{
}

.box .mslogo2012allwhitecopy-2{
}

.box .Rollovertapthe-3{
}

.box .Providerealtimeco-4{
}

.box .Createmediapackage-5{
}

.box .Insulatebusinessfr-6{
}

.box .Launchorretirenew-7{
}

.box .Provisiondigitalov-8{
}

.box .MicrosoftSolutions-9{
}

.box .SochiOlympicGames-10{
}

.box .Blinkbox-11{
}

.box .NBCSports-12{
}

.box .Playready-13{
}

.box .AzureMediaService-14{
}

.box .Back-15{
}

.box .Home-16{
}

.box .CloudonYourTerms-17{
}

.box .global2-18{
}

.box .RectangleLayer1-19{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
