/* demo bubl css */
.box .InformationforCEO-1{
}

.box .MicrosoftLogo-2{
}

.box .RightSideGraphic-3{
}

.box .CloudCogs-4{
}

.box .BlankBox1-5{
}

.box .BlankBox2-6{
}

.box .SuzyFosterhealthintro-7{
}

.box .Timeisthemostval-8{
}

.box .Ineedsimplifiedc-9{
}

.box .Simplifythecloudf-10{
}

.box .Ineedtoenablemy-11{
}

.box .Improvequalityof-12{
}

.box .Home-13{
}

.box .Clicktapanyoft-14{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}
