/* demo bubl css */
.box .NextStepscopy-1{
}

.box .PublicSafety-2{
}

.box .mslogo2012white-3{
}

.box .Welcome-4{
}

.box .Priorities-5{
}

.box .NewCapabilities-6{
}

.box .PRIORITYPOPUPS-7{
}

.box .PERSONALINTRO-8{
}

.box .FEEBUBMarleenReiningercopy-9{
}

.box .PersonalMessage-10{
}

.box .MarleenReininger-11{
}

.box .CorporateAccountMa-12{
}

.box .PersonalMessageBox-13{
}

.box .PRIORITIES-14{
}

.box .Intel-15{
}

.box .CaseManagement-16{
}

.box .MASH-17{
}

.box .CommsControl-18{
}

.box .CrimeCustody-19{
}

.box .CitizenEngagement-20{
}

.box .CAPABILITIES-21{
}

.box .SituationalAwarenes-22{
}

.box .RightInformationR-23{
}

.box .AccurateEvidenceCo-24{
}

.box .CaseCollaboration-25{
}

.box .CreatingaSingleVi-26{
}

.box .ImprovedCitizenSer-27{
}

.box .NonUrgentCrimeRep-28{
}

.box .CrimeIntelReport-29{
}

.box .ControlCompliance-30{
}

.box .VisualisingTrends-31{
}

.box .PredictingPrevent-32{
}

.box .Offender360View-33{
}

.box .EmergencyIncident-34{
}

.box .Hoveroverprioritie-35{
}

.box .Background-36{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Comic Sans MS;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:14.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:32px;
	font-family:Calibri;
}
