/* demo bubl css */
.box .mslogo2012allwhitecopy-1{
}

.box .connect-2{
}

.box .Rollovertapthe-3{
}

.box .Deliverahighlycon-4{
}

.box .Givethefieldacces-5{
}

.box .Empoweraconnected-6{
}

.box .CustomerSuccesses-7{
}

.box .MicrosoftSolutions-8{
}

.box .BT-9{
}

.box .TubeLines-10{
}

.box .Windows10Devices-11{
}

.box .SharePoint-12{
}

.box .Office365-13{
}

.box .MicrosoftAzure-14{
}

.box .Back-15{
}

.box .Home-16{
}

.box .WorkAnywherewithW-17{
}

.box .RectangleLayer1-18{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
