/* demo bubl css */
.box .Swisscom-1{
}

.box .Cablemas-2{
}

.box .BT-3{
}

.box .Windows10Devices-4{
}

.box .Office365copy-5{
}

.box .MicrosoftDynamicscopy-6{
}

.box .mslogo2012allwhitecopy-7{
}

.box .Controldeviceandd-8{
}

.box .Freeyourworkersin-9{
}

.box .Developanddeliver-10{
}

.box .Unifydevicemanagem-11{
}

.box .Givefieldworkersa-12{
}

.box .Rollovertapthe-13{
}

.box .Fieldworkerscanus-14{
}

.box .CustomerSuccesses-15{
}

.box .MicrosoftSolutions-16{
}

.box .Back-17{
}

.box .Home-18{
}

.box .WorkAnywherewithW-19{
}

.box .service3-20{
}

.box .RectangleLayer1-21{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
