/* demo bubl css */
.box .AusterityinGoverncopy-1{
}

.box .Homecopy-2{
}

.box .device08012015012730-3{
}

.box .Clicktapanyoft-4{
}

.box .hpccapabilities-5{
}

.box .WorkingEnvironmentcopy1-6{
}

.box .WorkingEnvironmentcopy-7{
}

.box .WorkingEnvironment-8{
}

.box .ImprovingCitizenSe-9{
}

.box .SecureAccessEveryw-10{
}

.box .EfficientConnected-11{
}

.box .WorkAnywherewithW-12{
}

.box .mslogo2012allwhite-13{
}

.box .GovernmentMOBILITYMichaelWignall-14{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}
