/* demo bubl css */
.box .ShropshireCouncil-1{
}

.box .Reducetheamountof-2{
}

.box .Homecopy-3{
}

.box .Windows10Devices-4{
}

.box .SharePoint-5{
}

.box .Office365-6{
}

.box .Lync-7{
}

.box .mslogo2012allwhitecopy-8{
}

.box .cost-9{
}

.box .Homeworkingcreates-10{
}

.box .Reducedeskspacere-11{
}

.box .Domorewithless-12{
}

.box .Rollovertapthe-13{
}

.box .CustomerSuccesses-14{
}

.box .MicrosoftSolutions-15{
}

.box .Back-16{
}

.box .WorkAnywherewithW-17{
}

.box .RectangleLayer1-18{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
