/* demo bubl css */
.box .RectangleLayer63copy2-1{
}

.box .RectangleLayer63copy-2{
}

.box .FEEBUBAlanCoeBusinessInsights-3{
}

.box .Clicktapanyoft-4{
}

.box .Homecopy-5{
}

.box .data-6{
}

.box .cloud07112014051252copy-7{
}

.box .OperationalSupply-8{
}

.box .ConnectedMarketing-9{
}

.box .BusinessInsight-10{
}

.box .DigitalAssetManage-11{
}

.box .Greateruseofsens-12{
}

.box .InformedDataDrive-13{
}

.box .mslogo2012allwhite-14{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}
