/* demo bubl css */
.box .EmergencyIncidentEventMgmtOriginal-1{
}

.box .mslogo2012-2{
}

.box .EmergencyIncidenta-3{
}

.box .Invehicleandhand-4{
}

.box .Designdatadrivenr-5{
}

.box .Capturealldisaster-6{
}

.box .Inspectpublicbuild-7{
}

.box .ProductsTitle-8{
}

.box .MicrosoftDynamics-9{
}

.box .Office365-10{
}

.box .MicrosoftAzure-11{
}

.box .CUSTOMERSCENARIOS-12{
}

.box .CustomerScenariosTitle-13{
}

.box .CambridgeshireConstVideo-14{
}

.box .HomeButton-15{
}

.box .Background-16{
}

.fontstyle0{
	color:rgba(89,89,89,255);
	font-size:14.67px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(127,127,127,255);
	font-size:34.67px;
	font-family:Arial;
}

.fontstyle2{
	color:rgba(89,89,89,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:14.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(89,89,89,255);
	font-size:16px;
	font-family:Calibri;
}
