/* demo bubl css */
.box .AshleyFurniturecopy-1{
}

.box .ColumbiaSportswearcopy-2{
}

.box .JeanCoutucopy-3{
}

.box .Enhancecustomerexpcopy-4{
}

.box .Build360customercopy-5{
}

.box .ImplementseamlessBcopy-6{
}

.box .CustomerSuccessescopy-7{
}

.box .MicrosoftDynamics-8{
}

.box .SharePoint-9{
}

.box .Office365-10{
}

.box .MicrosoftAzurecopy-11{
}

.box .mslogo2012allwhitecopy-12{
}

.box .Rollovertapthe-13{
}

.box .Connectdirectlywit-14{
}

.box .MicrosoftSolutions-15{
}

.box .Back-16{
}

.box .Home-17{
}

.box .CloudonYourTerms-18{
}

.box .search-19{
}

.box .RectangleLayer1-20{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
