/* demo bubl css */
.box .PowerBI-1{
}

.box .MicrosoftAzure-2{
}

.box .SQLServer-3{
}

.box .MicrosoftDynamicscopy-4{
}

.box .mslogo2012allwhitecopy-5{
}

.box .group-6{
}

.box .Rollovertapthe-7{
}

.box .Improvevisibilityo-8{
}

.box .Connecttheenterpri-9{
}

.box .Acceleratethepace-10{
}

.box .Provideyourpeople-11{
}

.box .MicrosoftSolutions-12{
}

.box .Back-13{
}

.box .Home-14{
}

.box .CloudProductivitya-15{
}

.box .RectangleLayer1-16{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
