/* demo bubl css */
.box .FEEBUBMarleenReiningercopy-1{
}

.box .MarleenReiningercopy-2{
}

.box .CorporateAccountMacopy-3{
}

.box .ThisiswheretheCTcopy-4{
}

.box .NextSteps-5{
}

.box .MicrosoftVision-6{
}

.box .WorkAnywherewithW-7{
}

.box .InformedDataDrive-8{
}

.box .CloudonYourTerms-9{
}

.box .CloudProductivity-10{
}

.box .Retail-11{
}

.box .RectangleLayer3-12{
}

.box .mslogo2012-13{
}

.box .retailbkgd2-14{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:48px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Comic Sans MS;
}
