/* demo bubl css */
.box .Explorenewinitiaticopy-1{
}

.box .Homecopy-2{
}

.box .CustomerSuccessescopy-3{
}

.box .mslogo2012allwhitecopy-4{
}

.box .optimise13012015095707-5{
}

.box .Rollovertapthe-6{
}

.box .MakeBigDatavisual-7{
}

.box .Citizenscaninterac-8{
}

.box .SupportOpenDatain-9{
}

.box .MicrosoftSolutions-10{
}

.box .EnvironmentAgency-11{
}

.box .GlasgowCityCouncil-12{
}

.box .Bbits-13{
}

.box .MicrosoftAzure-14{
}

.box .PowerBI-15{
}

.box .SQLServer-16{
}

.box .Back-17{
}

.box .InformedDataDrive-18{
}

.box .RectangleLayer1-19{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
