/* demo bubl css */
.box .Reducecostsandimpcopy-1{
}

.box .Homecopy-2{
}

.box .CustomerSuccessescopy-3{
}

.box .SQLServer-4{
}

.box .MicrosoftDynamics-5{
}

.box .MicrosoftAzure-6{
}

.box .mslogo2012allwhitecopy-7{
}

.box .apps13012015095923-8{
}

.box .Rollovertapthe-9{
}

.box .Providecitizenswit-10{
}

.box .Deliverstreamlined-11{
}

.box .Offercitizensrelia-12{
}

.box .MicrosoftSolutions-13{
}

.box .EnvironmentAgency-14{
}

.box .TransportforGreaterManchester-15{
}

.box .Back-16{
}

.box .CloudonYourTerms-17{
}

.box .RectangleLayer1-18{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
