/* demo bubl css */
.box .CustomerSuccessescopy-1{
}

.box .mslogo2012allwhitecopy-2{
}

.box .Rollovertapthe-3{
}

.box .Gainoperationalins-4{
}

.box .Improvenetworkperf-5{
}

.box .Improvecustomerins-6{
}

.box .Enhanceprofitabilit-7{
}

.box .Visualisedatawith-8{
}

.box .MicrosoftSolutions-9{
}

.box .HarperCollins-10{
}

.box .Office365-11{
}

.box .PowerBI-12{
}

.box .SQLServer-13{
}

.box .Back-14{
}

.box .Home-15{
}

.box .InformedDataDrive-16{
}

.box .automate-17{
}

.box .RectangleLayer1-18{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
