/* demo bubl css */
.box .connectedpeoplegreen3-1{
}

.box .cloudgreen2copy-2{
}

.box .FEEBUBJonShawProductivity-3{
}

.box .Clicktapanyoft-4{
}

.box .Homecopy-5{
}

.box .RectangleLayer63copy2-6{
}

.box .RectangleLayer63copy-7{
}

.box .360CustomerViewC-8{
}

.box .CollaborativeSelfS-9{
}

.box .WorkplaceModernisat-10{
}

.box .EditorialCollaborat-11{
}

.box .TheMicrosoftadvan-12{
}

.box .CloudProductivitya-13{
}

.box .mslogo2012allwhite-14{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}
