/* demo bubl css */
.box .Becompliantinstri-1{
}

.box .Utilisemobileproce-2{
}

.box .Securemobiledevice-3{
}

.box .Connectedtechnology-4{
}

.box .Windows10Devices-5{
}

.box .mslogo2012allwhitecopy-6{
}

.box .dashboard-7{
}

.box .Rollovertapthe-8{
}

.box .DevicesandAppstha-9{
}

.box .MicrosoftSolutions-10{
}

.box .Back-11{
}

.box .Home-12{
}

.box .WorkAnywherewithW-13{
}

.box .RectangleLayer1-14{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
