/* demo bubl css */
.box .RectangleLayer67copy-1{
}

.box .RectangleLayer67-2{
}

.box .collab-3{
}

.box .FEEBUBGregWalkerProductivity-4{
}

.box .Clicktapanyoft-5{
}

.box .Homecopy-6{
}

.box .hpccapabilities-7{
}

.box .ConnectedMarketing-8{
}

.box .ConnectedProduct-9{
}

.box .ConnectedOperations-10{
}

.box .SocialInnovation-11{
}

.box .Microsoftsupports-12{
}

.box .CloudProductivitya-13{
}

.box .mslogo2012allwhite-14{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}
