/* demo bubl css */
.box .CustomerSuccessescopy-1{
}

.box .mslogo2012allwhitecopy-2{
}

.box .citizen-3{
}

.box .Rollovertapthe-4{
}

.box .AccessOracleonAzu-5{
}

.box .Managedataverysec-6{
}

.box .Enhancedevelopment-7{
}

.box .Quicklyandverysec-8{
}

.box .MicrosoftSolutions-9{
}

.box .Ferranti-10{
}

.box .Redknee-11{
}

.box .Windows10Devices-12{
}

.box .MicrosoftAzure-13{
}

.box .PowerBI-14{
}

.box .Back-15{
}

.box .Home-16{
}

.box .CloudonYourTerms-17{
}

.box .RectangleLayer1-18{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
