/* demo bubl css */
.box .mslogo2012-1{
}

.box .FinancialServices-2{
}

.box .FEEBUBMarleenReininger-3{
}

.box .CloudProductivitya-4{
}

.box .InformedDataDrive-5{
}

.box .MicrosoftVision-6{
}

.box .CloudonYourTerms-7{
}

.box .WorkAnywherewithW-8{
}

.box .CloudConfidence-9{
}

.box .NextSteps-10{
}

.box .MainBox-11{
}

.box .BackgroundImage-12{
}

.fontstyle0{
	font-size:48px;
	font-family:Calibri;
}

.fontstyle1{
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	font-size:29.33px;
	font-family:Calibri;
}
