/* demo bubl css */
.box .Accesstodesktopap-1{
}

.box .Cloudbasedapps-2{
}

.box .Fullyoperationalanywhere-3{
}

.box .DRandBusinessCont-4{
}

.box .Morefacetofaceti-5{
}

.box .CustomerSuccesses-6{
}

.box .Make-7{
}

.box .Glenigan-8{
}

.box .SharePoint-9{
}

.box .MicrosoftSolutions-10{
}

.box .MicrosoftAzure-11{
}

.box .Office365copy-12{
}

.box .SkypeforBusiness-13{
}

.box .mslogo2012allwhitecopy-14{
}

.box .platform-15{
}

.box .Rollovertapthe-16{
}

.box .Empowertheworkforc-17{
}

.box .Home-18{
}

.box .WorkAnywhereonAny-19{
}

.box .RectangleLayer1-20{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:10.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle6{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle7{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
