/* demo bubl css */
.box .transformpurple-1{
}

.box .RetailBIMarkBedford-2{
}

.box .Clicktapanyoft-3{
}

.box .Homecopy-4{
}

.box .cloud07112014051252copy-5{
}

.box .RectangleLayer63copy2-6{
}

.box .RectangleLayer63copy-7{
}

.box .StoreOperations-8{
}

.box .BusinessInsights-9{
}

.box .AdvancedAnalytics-10{
}

.box .ConsumerInsights-11{
}

.box .Microsoftoffersth-12{
}

.box .InformedDataDrive-13{
}

.box .mslogo2012allwhite-14{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}
