/* demo bubl css */
.box .AtitsheartGovercopy-1{
}

.box .Homecopy-2{
}

.box .collab-3{
}

.box .cloudgreen2copy-4{
}

.box .GovernmentPRODUCTIVECOLLABORATIVEMichaelWignall3-5{
}

.box .hpccapabilities-6{
}

.box .RectangleLayer63copy2-7{
}

.box .RectangleLayer63copy-8{
}

.box .360CustomerViewC-9{
}

.box .ImproveServiceswit-10{
}

.box .EnhancedExperiences-11{
}

.box .DoMorewithLess-12{
}

.box .CloudProductivitya-13{
}

.box .mslogo2012allwhite-14{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
