/* demo bubl css */
.box .BT-1{
}

.box .mslogo2012allwhitecopy-2{
}

.box .Rollovertapthe-3{
}

.box .Connectandsharein-4{
}

.box .Embracemobilityto-5{
}

.box .Becomemoreengaged-6{
}

.box .Increaseproductivit-7{
}

.box .Delivermodernworkp-8{
}

.box .CustomerSuccesses-9{
}

.box .MicrosoftSolutions-10{
}

.box .Lync-11{
}

.box .Yammer-12{
}

.box .Office365-13{
}

.box .Windows10Devices-14{
}

.box .Back-15{
}

.box .Home-16{
}

.box .CloudProductivitya-17{
}

.box .powerful-18{
}

.box .RectangleLayer1-19{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
