/* demo bubl css */
.box .NottinghamshireCoun-1{
}

.box .ShropshireCouncil-2{
}

.box .Reducetravelcosts-3{
}

.box .Homecopy-4{
}

.box .Office365-5{
}

.box .Windows10Devices-6{
}

.box .Lync-7{
}

.box .SharePoint-8{
}

.box .WindowsPhone-9{
}

.box .mslogo2012allwhitecopy-10{
}

.box .productivity-11{
}

.box .Rollovertapthe-12{
}

.box .Reducetravelandas-13{
}

.box .Getmoredonemore-14{
}

.box .Therightdevicefor-15{
}

.box .CustomerSuccesses-16{
}

.box .MicrosoftSolutions-17{
}

.box .Back-18{
}

.box .WorkAnywherewithW-19{
}

.box .RectangleLayer1-20{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
