/* demo bubl css */
.box .Arzeda-1{
}

.box .VirginiaTech-2{
}

.box .CHRHansen-3{
}

.box .CustomerSuccessescopy-4{
}

.box .mslogo2012allwhitecopy-5{
}

.box .research-6{
}

.box .Rollovertapthe-7{
}

.box .Speedresearchandp-8{
}

.box .Increaseagilityand-9{
}

.box .Extractinsightsfro-10{
}

.box .MicrosoftSolutions-11{
}

.box .PowerBI-12{
}

.box .SharePoint-13{
}

.box .Office365-14{
}

.box .SQLServer-15{
}

.box .MicrosoftAzure-16{
}

.box .Back-17{
}

.box .Home-18{
}

.box .InformedDataDrive-19{
}

.box .RectangleLayer1-20{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
