/* demo bubl css */
.box .mslogo2012allwhitecopy-1{
}

.box .Rollovertapthe-2{
}

.box .Gainoperationalins-3{
}

.box .Improvenetworkperf-4{
}

.box .Improvecustomerins-5{
}

.box .Enhanceprofitabilit-6{
}

.box .Microsofthelpsserv-7{
}

.box .CustomerSuccesses-8{
}

.box .MicrosoftSolutions-9{
}

.box .HarperCollins-10{
}

.box .MicrosoftAzure-11{
}

.box .SQLServer-12{
}

.box .StreamInsight-13{
}

.box .Back-14{
}

.box .Home-15{
}

.box .CloudProductivitya-16{
}

.box .custinsight-17{
}

.box .RectangleLayer1-18{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
