/* demo bubl css */
.box .mslogo2012allwhitecopy-1{
}

.box .CCIOCloudTechnol-2{
}

.box .Therearemanydiffe-3{
}

.box .Saveusmoney-4{
}

.box .Howcanthecloudbe-5{
}

.box .DatasecurityandIG-6{
}

.box .Howcanthecloudbe-7{
}

.box .MicrosoftSolutions-8{
}

.box .MicrosoftAzure-9{
}

.box .CustomerSuccesses-10{
}

.box .EastofEnglandColl-11{
}

.box .OperationSmile-12{
}

.box .WestWakefieldHealt-13{
}

.box .Rollovertapthe-14{
}

.box .cloud-15{
}

.box .MainBox-16{
}

.box .Home-17{
}

.box .Back-18{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
