/* demo bubl css */
.box .Governmentorganisacopy-1{
}

.box .GovernmentDATAMichaelWignall-2{
}

.box .Clicktapanyoft-3{
}

.box .Homecopy-4{
}

.box .data-5{
}

.box .cloud07112014051252copy-6{
}

.box .hpccapabilities-7{
}

.box .RectangleLayer63copy2-8{
}

.box .RectangleLayer63copy-9{
}

.box .BillingReports-10{
}

.box .ImproveProcesses-11{
}

.box .InnovationDrivingP-12{
}

.box .PowerfulAggregated-13{
}

.box .InformedDataDrive-14{
}

.box .mslogo2012allwhite-15{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}
