/* demo bubl css */
.box .AshleyFurniturecopy-1{
}

.box .ColumbiaSportswearcopy-2{
}

.box .JeanCoutucopy-3{
}

.box .CustomerSuccessescopy-4{
}

.box .mslogo2012allwhitecopy-5{
}

.box .Rollovertapthe-6{
}

.box .Enhancecustomerexp-7{
}

.box .Build360customer-8{
}

.box .ImplementseamlessB-9{
}

.box .Connectdirectlywit-10{
}

.box .MicrosoftSolutions-11{
}

.box .MicrosoftAzure-12{
}

.box .MicrosoftDynamics-13{
}

.box .SharePoint-14{
}

.box .SQLServer-15{
}

.box .Back-16{
}

.box .Home-17{
}

.box .InformedDataDrive-18{
}

.box .operationspurple-19{
}

.box .RectangleLayer1-20{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
