/* demo bubl css */
.box .MicrosoftAzurecopy-1{
}

.box .mslogo2012allwhitecopy-2{
}

.box .analytics-3{
}

.box .Rollovertapthe-4{
}

.box .ReferenceArchitectu-5{
}

.box .RolebasedAccessto-6{
}

.box .NaturalLanguageQue-7{
}

.box .SingleVersionofth-8{
}

.box .Gaininsightintobu-9{
}

.box .CustomerSuccesses-10{
}

.box .MicrosoftSolutions-11{
}

.box .CFE-12{
}

.box .CGNGroup-13{
}

.box .BakerHughes-14{
}

.box .Globaltopfiveener-15{
}

.box .PowerBI-16{
}

.box .SharePoint-17{
}

.box .Office365-18{
}

.box .SQLServer-19{
}

.box .Back-20{
}

.box .Home-21{
}

.box .InformedDataDrive-22{
}

.box .RectangleLayer1-23{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:10.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle6{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle7{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
