/* demo bubl css */
.box .Eskom-1{
}

.box .AGL-2{
}

.box .mslogo2012allwhitecopy-3{
}

.box .connect-4{
}

.box .Rollovertapthe-5{
}

.box .ActivitybasedWorki-6{
}

.box .CollaborativeEmpow-7{
}

.box .Empoweraconnected-8{
}

.box .CustomerSuccesses-9{
}

.box .MicrosoftSolutions-10{
}

.box .Windows10Devices-11{
}

.box .SharePoint-12{
}

.box .Office365-13{
}

.box .MicrosoftAzure-14{
}

.box .Back-15{
}

.box .Home-16{
}

.box .WorkAnywherewithW-17{
}

.box .RectangleLayer1-18{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:10.67px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
