/* demo bubl css */
.box .Providecitizenswitcopy-1{
}

.box .Homecopy-2{
}

.box .mslogo2012allwhitecopy-3{
}

.box .citizen-4{
}

.box .Rollovertapthe-5{
}

.box .Includemobileworke-6{
}

.box .Connectedcitizens-7{
}

.box .Improvedworkforcea-8{
}

.box .CustomerSuccesses-9{
}

.box .MicrosoftSolutions-10{
}

.box .TransportforGreaterManchester-11{
}

.box .EnvironmentAgency-12{
}

.box .SunderlandCouncil-13{
}

.box .Bbits-14{
}

.box .MicrosoftDynamics-15{
}

.box .Back-16{
}

.box .WorkAnywherewithW-17{
}

.box .RectangleLayer1-18{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
