/* demo bubl css */
.box .Secureallyourcompcopy-1{
}

.box .Homecopy-2{
}

.box .CustomerSuccessescopy-3{
}

.box .mslogo2012allwhitecopy-4{
}

.box .secure-5{
}

.box .Rollovertapthe-6{
}

.box .Increaseresilience-7{
}

.box .Implementbestincl-8{
}

.box .Helpsecureyourdev-9{
}

.box .Federatecloudando-10{
}

.box .MicrosoftSolutions-11{
}

.box .UKTradeInvestmen-12{
}

.box .InTune-13{
}

.box .SystemCenter-14{
}

.box .Back-15{
}

.box .CloudonYourTerms-16{
}

.box .RectangleLayer1-17{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
