/* demo bubl css */
.box .CustomerSuccesses-1{
}

.box .mslogo2012allwhitecopy-2{
}

.box .analytics-3{
}

.box .Rollovertapthe-4{
}

.box .IntelligentAssetMo-5{
}

.box .DigitalPlant-6{
}

.box .DeliverConnectedHo-7{
}

.box .AdvancedNetworkMan-8{
}

.box .Microsoftprovidesa-9{
}

.box .MicrosoftSolutions-10{
}

.box .IssyGrid-11{
}

.box .eSmartSystems-12{
}

.box .MicrosoftAzure-13{
}

.box .Back-14{
}

.box .Home-15{
}

.box .CloudonYourTerms-16{
}

.box .RectangleLayer1-17{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
