/* demo bubl css */
.box .FeaturedTitle-1{
}

.box .FeaturedText-2{
}

.box .SamplePowerpointDo-3{
}

.box .SamplePDF-4{
}

.box .SampleWordDocument-5{
}

.box .SampleExcelDocumen-6{
}

.box .FeaturedContentPanel-7{
}

.box .DONOTEDITBELOWTHIS-8{
}

.box .FEEBUBMarleenReiningercopy-9{
}

.box .MarleenReiningercopy-10{
}

.box .CorporateAccountMacopy-11{
}

.box .ThisiswheretheCTcopy-12{
}

.box .NextSteps-13{
}

.box .MicrosoftVision-14{
}

.box .WorkAnywherewithW-15{
}

.box .InformedDataDrive-16{
}

.box .CloudonYourTerms-17{
}

.box .CloudProductivity-18{
}

.box .Manufacturing-19{
}

.box .RectangleLayer3-20{
}

.box .mslogo2012allwhitecopy-21{
}

.box .manubkgd215012015035520-22{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:48px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Comic Sans MS;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:32px;
	font-family:Calibri;
}
