/* demo bubl css */
.box .HydroOne-1{
}

.box .EON-2{
}

.box .Centropol-3{
}

.box .SouthWestWater-4{
}

.box .PowerBI-5{
}

.box .MicrosoftAzure-6{
}

.box .SQLServer-7{
}

.box .MicrosoftDynamicscopy-8{
}

.box .mslogo2012allwhitecopy-9{
}

.box .group-10{
}

.box .Rollovertapthe-11{
}

.box .FlexibleBilling-12{
}

.box .SingleViewofCusto-13{
}

.box .CustomerCaseManage-14{
}

.box .ImprovedCustomerSa-15{
}

.box .NewBusinessUniti-16{
}

.box .Provideyourpeople-17{
}

.box .CustomerSuccesses-18{
}

.box .MicrosoftSolutions-19{
}

.box .Back-20{
}

.box .Home-21{
}

.box .CloudProductivitya-22{
}

.box .RectangleLayer1-23{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:10.67px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle6{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle7{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
