/* demo bubl css */
.box .CustomerSuccessescopy-1{
}

.box .mslogo2012allwhitecopy-2{
}

.box .Rollovertapthe-3{
}

.box .Relyonanexperienc-4{
}

.box .Develophybridworkf-5{
}

.box .Buildendtoendwor-6{
}

.box .Usewhatyoualready-7{
}

.box .Buildonareliable-8{
}

.box .Microsoftoffersan-9{
}

.box .MicrosoftSolutions-10{
}

.box .Telenor-11{
}

.box .PortugalTelecomSA-12{
}

.box .SKTelecom-13{
}

.box .AzureIntelligence-14{
}

.box .MicrosoftAzure-15{
}

.box .AzureMediaService-16{
}

.box .Back-17{
}

.box .Home-18{
}

.box .CloudonYourTerms-19{
}

.box .bestideinthemarket-20{
}

.box .RectangleLayer1-21{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
