/* demo bubl css */
.box .CustomerSuccessescopy-1{
}

.box .mslogo2012allwhitecopy-2{
}

.box .Rollovertapthe-3{
}

.box .Expandyourreachth-4{
}

.box .Maintainthecustome-5{
}

.box .Providecloudsuppor-6{
}

.box .Optimiseproductivit-7{
}

.box .Enhancetherevenue-8{
}

.box .Microsoftprovidea-9{
}

.box .MicrosoftSolutions-10{
}

.box .ANMedia-11{
}

.box .HearstCorporation-12{
}

.box .RAINet-13{
}

.box .NRK-14{
}

.box .SochiOlympicGames-15{
}

.box .SharePoint-16{
}

.box .SQLServer-17{
}

.box .Back-18{
}

.box .Home-19{
}

.box .CloudonYourTerms-20{
}

.box .automaticallyscale-21{
}

.box .RectangleLayer1-22{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
