/* demo bubl css */
.box .mslogo2012-1{
}

.box .PredictingandPreve-2{
}

.box .Enablerapiddecisio-3{
}

.box .ProductsTitle-4{
}

.box .MicrosoftDynamics-5{
}

.box .Office365-6{
}

.box .MicrosoftAzure-7{
}

.box .PowerBI-8{
}

.box .CUSTOMERSCENARIOS-9{
}

.box .CustomerScenariosTitle-10{
}

.box .DurhamConstabulary-11{
}

.box .PredictivePolicingOriginal-12{
}

.box .ProactivePolicingU-13{
}

.box .ProactivePolicing-14{
}

.box .DisparateSystems-15{
}

.box .SelfServeAnalytics-16{
}

.box .BigDataandSocial-17{
}

.box .HomeButton-18{
}

.box .Background-19{
}

.fontstyle0{
	color:rgba(127,127,127,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(89,89,89,255);
	font-size:14.67px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(127,127,127,255);
	font-size:34.67px;
	font-family:Arial;
}

.fontstyle3{
	color:rgba(0,112,192,255);
	font-size:17.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:14.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(89,89,89,255);
	font-size:16px;
	font-family:Calibri;
}
