/* demo bubl css */
.box .DeltaAirlines-1{
}

.box .Windows10Devices-2{
}

.box .mslogo2012allwhitecopy-3{
}

.box .Boosttheproductivi-4{
}

.box .Lowertheweightlo-5{
}

.box .Rollovertapthe-6{
}

.box .WithmodernEFBappl-7{
}

.box .CustomerSuccesses-8{
}

.box .MicrosoftSolutions-9{
}

.box .Back-10{
}

.box .Home-11{
}

.box .WorkAnywherewithW-12{
}

.box .search-13{
}

.box .RectangleLayer1-14{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
