/* demo bubl css */
.box .mslogo2012allwhitecopy-1{
}

.box .FinanceDirectors-2{
}

.box .Yourmostvaluabler-3{
}

.box .Yourfavouritedevic-4{
}

.box .Allofyourinformat-5{
}

.box .Benefitsofusingth-6{
}

.box .Accessyourdataand-7{
}

.box .MicrosoftSolutions-8{
}

.box .MicrosoftAzure-9{
}

.box .Windows10Devices-10{
}

.box .CustomerSuccesses-11{
}

.box .SeattleChildrens-12{
}

.box .LutonDunstableUn-13{
}

.box .PalmettoHealth-14{
}

.box .Rollovertapthe-15{
}

.box .device-16{
}

.box .MainBox-17{
}

.box .Back-18{
}

.box .Home-19{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
