/* demo bubl css */
.box .FeaturedTitle-1{
}

.box .FeaturedText-2{
}

.box .SamplePowerpointDo-3{
}

.box .SamplePDF-4{
}

.box .SampleWordDocument-5{
}

.box .SampleExcelDocumen-6{
}

.box .FeaturedContentPanel-7{
}

.box .DONOTEDITBELOWTHIScopy-8{
}

.box .MicrosoftLogo-9{
}

.box .Health-10{
}

.box .FEEBUBMarleenReininger-11{
}

.box .ThisiswheretheCT-12{
}

.box .MarleenReininger-13{
}

.box .MarleenReiningerC-14{
}

.box .CEOandCOO-15{
}

.box .FinanceDirectors-16{
}

.box .TheFutureDecoded-17{
}

.box .CliniciansandNurse-18{
}

.box .CCIO-19{
}

.box .NextSteps-20{
}

.box .MainBox-21{
}

.box .BackgroundImage-22{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:48px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Comic Sans MS;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:12px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:32px;
	font-family:Calibri;
}
