/* demo bubl css */
.box .Microsoftscloudtcopy-1{
}

.box .Homecopy-2{
}

.box .GovernmentCLOUDMichaelWignall-3{
}

.box .cloud08012015012314-4{
}

.box .cloudteal-5{
}

.box .hpccapabilities-6{
}

.box .RectangleLayer63copy3-7{
}

.box .RectangleLayer63copy2-8{
}

.box .RectangleLayer63copy-9{
}

.box .FlexibleResilient-10{
}

.box .Mitigateriskandin-11{
}

.box .MobileAccesstoInf-12{
}

.box .CloudonYourTerms-13{
}

.box .mslogo2012allwhite-14{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
