/* demo bubl css */
.box .MicrosoftLogo-1{
}

.box .Back-2{
}

.box .NextSteps-3{
}

.box .MicrosoftHQ-4{
}

.box .MarleenReiningerCo-5{
}

.box .VisitOurWebsite-6{
}

.box .CustomerStories-7{
}

.box .UpcomingEvents-8{
}

.box .FutureDecoded-9{
}

.box .Twitter-10{
}

.box .EmailMe-11{
}

.box .MainBox-12{
}

.box .BackgroundImage-13{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:48px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
