/* demo bubl css */
.box .cloud2-1{
}

.box .RetailCLOUDMarkBedford-2{
}

.box .Clicktapanyoft-3{
}

.box .Homecopy-4{
}

.box .cloudteal-5{
}

.box .RectangleLayer63copy2-6{
}

.box .RectangleLayer63copy-7{
}

.box .AgileCloudComputin-8{
}

.box .DigitalContentMana-9{
}

.box .GlobalAudienceHig-10{
}

.box .CloudInnovation-11{
}

.box .Whenyoutakeadvant-12{
}

.box .CloudonYourTerms-13{
}

.box .mslogo2012allwhite-14{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}
