/* demo bubl css */
.box .FEEBUBGregWalkerAgilecloudbasedinfrastructure-1{
}

.box .Clicktapanyoft-2{
}

.box .Homecopy-3{
}

.box .cloud07012015075927-4{
}

.box .hpccapabilities-5{
}

.box .OperationalExcellen-6{
}

.box .InfrastructureModercopy-7{
}

.box .InfrastructureModer-8{
}

.box .IntelligentSystemscopy-9{
}

.box .IntelligentSystems-10{
}

.box .CustomerCentricity-11{
}

.box .Microsoftbigdata-12{
}

.box .CloudonYourTerms-13{
}

.box .mslogo2012allwhite-14{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}
