/* demo bubl css */
.box .Gaininsightstohel-1{
}

.box .Determinetherightcopy-2{
}

.box .LufthansaSystems-3{
}

.box .SaudiAirlines-4{
}

.box .HollandAmerica-5{
}

.box .CustomerSuccessescopy-6{
}

.box .mslogo2012allwhitecopy-7{
}

.box .Rollovertapthe-8{
}

.box .Enablefastermore-9{
}

.box .Withunmatchedbread-10{
}

.box .MicrosoftSolutions-11{
}

.box .SQLServer-12{
}

.box .SharePoint-13{
}

.box .MicrosoftAzure-14{
}

.box .Back-15{
}

.box .Home-16{
}

.box .InformedDataDrive-17{
}

.box .draganddrop-18{
}

.box .RectangleLayer1-19{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
