/* demo bubl css */
.box .CustomerSuccessescopy-1{
}

.box .mslogo2012allwhitecopy-2{
}

.box .cloud13012015112831-3{
}

.box .Rollovertapthe-4{
}

.box .Improveoperational-5{
}

.box .Enhancetheproducti-6{
}

.box .Reducetechnologyco-7{
}

.box .Fosteracultureof-8{
}

.box .MicrosoftSolutions-9{
}

.box .Nalco-10{
}

.box .MicrosoftAzure-11{
}

.box .Office365-12{
}

.box .SQLServer-13{
}

.box .Back-14{
}

.box .Home-15{
}

.box .CloudonYourTerms-16{
}

.box .RectangleLayer1-17{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
