/* demo bubl css */
.box .mslogo2012allwhitecopy-1{
}

.box .Rollovertapthe-2{
}

.box .Turnglobalcomplexi-3{
}

.box .Harnesscompellingd-4{
}

.box .Deliverambientinte-5{
}

.box .Innovateanticipate-6{
}

.box .Remainnimbleandre-7{
}

.box .Back-8{
}

.box .Home-9{
}

.box .CloudonYourTerms-10{
}

.box .deliver2-11{
}

.box .RectangleLayer1-12{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
