/* demo bubl css */
.box .Integreon-1{
}

.box .Norland-2{
}

.box .DundasWilson-3{
}

.box .Canaccord-4{
}

.box .mslogo2012allwhitecopy-5{
}

.box .analytics-6{
}

.box .Rollovertapthe-7{
}

.box .360degreeclientvi-8{
}

.box .RealtimeDashboards-9{
}

.box .Datadrivendecision-10{
}

.box .Supportdecisionmak-11{
}

.box .CustomerSuccesses-12{
}

.box .MicrosoftSolutions-13{
}

.box .SQLServer-14{
}

.box .SharePoint-15{
}

.box .Office365-16{
}

.box .PowerBI-17{
}

.box .MicrosoftAzure-18{
}

.box .MicrosoftDynamicsA-19{
}

.box .Home-20{
}

.box .ComprehensiveManage-21{
}

.box .RectangleLayer1-22{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:10.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle6{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle7{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
