/* demo bubl css */
.box .mslogo2012copy-1{
}

.box .AccurateEvidenceCo-2{
}

.box .EvidenceManagement-3{
}

.box .NewCapabilities-4{
}

.box .CollectingEvidence-5{
}

.box .EvidenceManagement-6{
}

.box .Products-7{
}

.box .MicrosoftDynamics-8{
}

.box .Office365-9{
}

.box .MicrosoftAzure-10{
}

.box .CustomerScenarios-11{
}

.box .CambridgeshireConstVideo-12{
}

.box .PhoneImageCustodyReference-13{
}

.box .CustodyReference-14{
}

.box .EvidenceItems-15{
}

.box .EvidenceInformation-16{
}

.box .NFCTagging-17{
}

.box .Home-18{
}

.box .Background-19{
}

.fontstyle0{
	color:rgba(127,127,127,255);
	font-size:34.67px;
	font-family:Arial;
}

.fontstyle1{
	color:rgba(127,127,127,255);
	font-size:24px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:14.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(89,89,89,255);
	font-size:14.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(0,112,192,255);
	font-size:17.33px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(89,89,89,255);
	font-size:16px;
	font-family:Calibri;
}
