/* demo bubl css */
.box .MicrosoftLogo-1{
}

.box .InformationforClin-2{
}

.box .cloudcogs-3{
}

.box .BlankBox1-4{
}

.box .BlankBox2-5{
}

.box .HealthKellyLimonteClinicians-6{
}

.box .Howcantechnologyh-7{
}

.box .Ineedintelligenti-8{
}

.box .Tellmemoreaboutt-9{
}

.box .Ineedtoaccessmy-10{
}

.box .RightSideGraphic-11{
}

.box .Astechnologyinth-12{
}

.box .Home-13{
}

.box .Clicktapanyoft-14{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}
