/* demo bubl css */
.box .mslogo2012allwhitecopy-1{
}

.box .newapproach-2{
}

.box .Rollovertapthe-3{
}

.box .Streamlineregulator-4{
}

.box .Drivebusinessgrowt-5{
}

.box .Fosterbusinessagil-6{
}

.box .Engageinternalteam-7{
}

.box .CustomerSuccesses-8{
}

.box .MicrosoftSolutions-9{
}

.box .SartoriusGroup-10{
}

.box .ArystaLifeSciences-11{
}

.box .PPD-12{
}

.box .Sanofi-13{
}

.box .SharePoint-14{
}

.box .Yammer-15{
}

.box .Office365-16{
}

.box .Back-17{
}

.box .Home-18{
}

.box .CloudProductivitya-19{
}

.box .RectangleLayer1-20{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
