/* demo bubl css */
.box .mslogo2012allwhitecopy-1{
}

.box .CliniciansandNurse-2{
}

.box .BIhastakenofftre-3{
}

.box .Connecttimelyrelev-4{
}

.box .Gleaninsightquickl-5{
}

.box .Connectandcollabor-6{
}

.box .Applypredictiveana-7{
}

.box .MicrosoftSolutions-8{
}

.box .MicrosoftAzure-9{
}

.box .MicrosoftAzureMac-10{
}

.box .Office365-11{
}

.box .PowerBI-12{
}

.box .CustomerSuccesses-13{
}

.box .NorthTeesandHartl-14{
}

.box .Rollovertapthe-15{
}

.box .custinsight-16{
}

.box .MainBox-17{
}

.box .Home-18{
}

.box .Back-19{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:10.67px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
