/* demo bubl css */
.box .CustomerSuccessescopy-1{
}

.box .mslogo2012allwhitecopy-2{
}

.box .processes13012015110953-3{
}

.box .Rollovertapthe-4{
}

.box .Measureperformance-5{
}

.box .Optimiseperformance-6{
}

.box .Makebetterinformed-7{
}

.box .Endtoendbusiness-8{
}

.box .Plugandplaytechno-9{
}

.box .Microsoftsolutions-10{
}

.box .MicrosoftSolutions-11{
}

.box .Ascribe-12{
}

.box .Office365-13{
}

.box .MicrosoftAzure-14{
}

.box .SQLServer-15{
}

.box .Back-16{
}

.box .Home-17{
}

.box .InformedDataDrive-18{
}

.box .RectangleLayer1-19{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
