/* demo bubl css */
.box .DONOTEDITBELOWTHIS-1{
}

.box .MSFTlogorgbCGray-2{
}

.box .FEEBUBMarleenReininger-3{
}

.box .MarleenReininger-4{
}

.box .CorporateAccountMa-5{
}

.box .ThisiswheretheCT-6{
}

.box .NextSteps-7{
}

.box .MicrosoftVision-8{
}

.box .WorkAnywhereonAn-9{
}

.box .ComprehensiveManage-10{
}

.box .IncreaseFlexibility-11{
}

.box .EnhancedProductivit-12{
}

.box .ImprovedSecurity-13{
}

.box .BetterCustomerSer-14{
}

.box .ProfessionalService-15{
}

.box .MainBox-16{
}

.box .fsbkgd208112014071954-17{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:48px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Comic Sans MS;
}
