/* demo bubl css */
.box .mslogo2012-1{
}

.box .SituationalAwarenesTitle-2{
}

.box .SituationalAwarenessIntro-3{
}

.box .NumberPlateRecognitionImagePlaceHolder-4{
}

.box .NumberPlateRecogni-5{
}

.box .RelevantInformation-6{
}

.box .MapVisualisation-7{
}

.box .FurtherDataSources-8{
}

.box .SpotDataCorrelatio-9{
}

.box .ProductsTitle-10{
}

.box .MicrosoftDynamics-11{
}

.box .Office365-12{
}

.box .MicrosoftAzure-13{
}

.box .CUSTOMERSCENARIOS-14{
}

.box .CustomerScenariosTitle-15{
}

.box .CambridgeshireConstVideo-16{
}

.box .PhoneBackground-17{
}

.box .Home-18{
}

.box .Background-19{
}

.fontstyle0{
	color:rgba(89,89,89,255);
	font-size:14.67px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(127,127,127,255);
	font-size:34.67px;
	font-family:Arial;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:14.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(0,112,192,255);
	font-size:17.33px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(89,89,89,255);
	font-size:16px;
	font-family:Calibri;
}
