/* demo bubl css */
.box .DeltaAirlines-1{
}

.box .Windows10Devices-2{
}

.box .SQLServer-3{
}

.box .MicrosoftAzure-4{
}

.box .Office365copy-5{
}

.box .MicrosoftDynamicscopy-6{
}

.box .mslogo2012allwhitecopy-7{
}

.box .Deliverpersonalised-8{
}

.box .Provideaneasylow-9{
}

.box .Rollovertapthe-10{
}

.box .Microsoftsonboard-11{
}

.box .CustomerSuccesses-12{
}

.box .MicrosoftSolutions-13{
}

.box .Back-14{
}

.box .Home-15{
}

.box .WorkAnywherewithW-16{
}

.box .plane-17{
}

.box .RectangleLayer1-18{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
