/* demo bubl css */
.box .CustomerSuccessescopy-1{
}

.box .mslogo2012allwhitecopy-2{
}

.box .analytics-3{
}

.box .Rollovertapthe-4{
}

.box .Connectedexperience-5{
}

.box .Streamlinemanufactu-6{
}

.box .Accelerateproductiv-7{
}

.box .Moresecuredata-8{
}

.box .Microsoftprovidesa-9{
}

.box .MicrosoftSolutions-10{
}

.box .KukaSystemsGroup-11{
}

.box .MicrosoftAzure-12{
}

.box .Back-13{
}

.box .Home-14{
}

.box .CloudonYourTerms-15{
}

.box .RectangleLayer1-16{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
