/* demo bubl css */
.box .Backcopy-1{
}

.box .mslogo2012allwhitecopy-2{
}

.box .CliniciansandNurse-3{
}

.box .Yourmostvaluabler-4{
}

.box .Yourfavouritedevic-5{
}

.box .Allofyourinformat-6{
}

.box .Benefitsofusingth-7{
}

.box .Accessyourdataand-8{
}

.box .MicrosoftSolutions-9{
}

.box .MicrosoftAzure-10{
}

.box .Windows10Devices-11{
}

.box .CustomerSuccesses-12{
}

.box .SeattleChildrens-13{
}

.box .LutonDunstableUn-14{
}

.box .PalmettoHealth-15{
}

.box .Rollovertapthe-16{
}

.box .device-17{
}

.box .MainBox-18{
}

.box .Home-19{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
