/* demo bubl css */
.box .DurhamConstabularycopy-1{
}

.box .mslogo2012-2{
}

.box .ControlCompliance-3{
}

.box .TheMicrosoftAzure-4{
}

.box .Weknowitsyourda-5{
}

.box .Weareobsessiveabo-6{
}

.box .Wearerelentlessab-7{
}

.box .Nobodydoesmoreto-8{
}

.box .MicrosoftSolutions-9{
}

.box .MicrosoftCESG-10{
}

.box .ProductsTitle-11{
}

.box .MicrosoftDynamics-12{
}

.box .Office365-13{
}

.box .MicrosoftAzure-14{
}

.box .CUSTOMERSCENARIOS-15{
}

.box .CustomerScenariosTitle-16{
}

.box .HomeButton-17{
}

.box .Background-18{
}

.fontstyle0{
	color:rgba(89,89,89,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(89,89,89,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(89,89,89,255);
	font-size:14.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(127,127,127,255);
	font-size:34.67px;
	font-family:Arial;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:14.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}
