/* demo bubl css */
.box .SingleSystemTransparentColours-1{
}

.box .mslogo2012-2{
}

.box .ConnectdisparateIT-3{
}

.box .CreatingaSingleVi-4{
}

.box .ProductsTitle-5{
}

.box .MicrosoftDynamics-6{
}

.box .Office365-7{
}

.box .MicrosoftAzure-8{
}

.box .CUSTOMERSCENARIOS-9{
}

.box .CustomerScenariosTitle-10{
}

.box .DurhamConstabulary-11{
}

.box .HomeButton-12{
}

.box .Background-13{
}

.fontstyle0{
	color:rgba(89,89,89,255);
	font-size:14.67px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(127,127,127,255);
	font-size:34.67px;
	font-family:Arial;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:14.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(89,89,89,255);
	font-size:16px;
	font-family:Calibri;
}
