/* demo bubl css */
.box .Windows10Devices-1{
}

.box .CustomerSuccesses-2{
}

.box .mslogo2012allwhitecopy-3{
}

.box .cloud13012015112831-4{
}

.box .Rollovertapthe-5{
}

.box .OperationsVisualisa-6{
}

.box .IncreaseYields-7{
}

.box .ImproveEmployeeHea-8{
}

.box .Fosteracultureof-9{
}

.box .MicrosoftSolutions-10{
}

.box .IoTatSea-11{
}

.box .BP-12{
}

.box .MicrosoftAzure-13{
}

.box .Office365-14{
}

.box .SQLServer-15{
}

.box .Back-16{
}

.box .Home-17{
}

.box .CloudonYourTerms-18{
}

.box .RectangleLayer1-19{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
