/* demo bubl css */
.box .anywhere-1{
}

.box .cloudyellcopy-2{
}

.box .Clicktapanyoft-3{
}

.box .Homecopy-4{
}

.box .RectangleLayer63copy2-5{
}

.box .RectangleLayer63copy-6{
}

.box .ActuarialSimulationcopy-7{
}

.box .EditorialCollaborat-8{
}

.box .ImprovedCustomerSe-9{
}

.box .ConnectedMobileWor-10{
}

.box .Microsoftsapproac-11{
}

.box .WorkAnywherewithW-12{
}

.box .mslogo2012allwhite-13{
}

.box .FEEBUBJonShawMobility-14{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:24px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}
