/* demo bubl css */
.box .mslogo2012allwhitecopy-1{
}

.box .CCIOProductivity-2{
}

.box .Inadigitalmobile-3{
}

.box .Empowercareteamsw-4{
}

.box .Simplifycollaborati-5{
}

.box .Benefitstothepati-6{
}

.box .BenefitfortheClin-7{
}

.box .MicrosoftSolutions-8{
}

.box .Lync-9{
}

.box .Office365-10{
}

.box .Windows10Devices-11{
}

.box .CustomerSuccesses-12{
}

.box .BelfastHealthSoc-13{
}

.box .WestWakefieldHealth-14{
}

.box .Rollovertapthe-15{
}

.box .fivescreens-16{
}

.box .SeparatorBar-17{
}

.box .MainBox-18{
}

.box .Home-19{
}

.box .Back-20{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle5{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
