/* demo bubl css */
.box .Windows10Devices-1{
}

.box .Office365-2{
}

.box .Lync-3{
}

.box .SharePoint-4{
}

.box .Yammer-5{
}

.box .mslogo2012allwhitecopy-6{
}

.box .Rollovertapthe-7{
}

.box .Enablehigherutilis-8{
}

.box .Freeyourworkersin-9{
}

.box .Improveteamcoordin-10{
}

.box .Givefieldworkersa-11{
}

.box .Windowsbaseddevice-12{
}

.box .CustomerSuccesses-13{
}

.box .MicrosoftSolutions-14{
}

.box .Gannett-15{
}

.box .Back-16{
}

.box .Home-17{
}

.box .WorkAnywherewithW-18{
}

.box .pos-19{
}

.box .RectangleLayer1-20{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
