/* demo bubl css */
.box .mslogo2012allwhitecopy-1{
}

.box .Singlemobiledevice-2{
}

.box .Bettersalesperform-3{
}

.box .Flexupanddownsea-4{
}

.box .Reducingcost-5{
}

.box .Usetheinfrastructu-6{
}

.box .MicrosoftSolutions-7{
}

.box .CustomerSuccesses-8{
}

.box .Glenigan-9{
}

.box .DundasWilson-10{
}

.box .Canaccord-11{
}

.box .MicrosoftDynamics-12{
}

.box .Office365-13{
}

.box .MicrosoftAzure-14{
}

.box .Windows10andDevi-15{
}

.box .productivity-16{
}

.box .Rollovertapthe-17{
}

.box .Home-18{
}

.box .FlexibilityandPerf-19{
}

.box .RectangleLayer1-20{
}

.fontstyle0{
	color:rgba(255,255,255,255);
	font-size:9.33px;
	font-family:Calibri;
}

.fontstyle1{
	color:rgba(255,255,255,255);
	font-size:16px;
	font-family:Calibri;
}

.fontstyle2{
	color:rgba(255,255,255,255);
	font-size:13.33px;
	font-family:Calibri;
}

.fontstyle3{
	color:rgba(255,255,255,255);
	font-size:18.67px;
	font-family:Calibri;
}

.fontstyle4{
	color:rgba(255,255,255,255);
	font-size:34.67px;
	font-family:Calibri;
}

.fontstyle5{
	color:#000000;
	font-size:16px;
	font-family:Calibri;
}

.fontstyle6{
	color:rgba(255,255,255,255);
	font-size:29.33px;
	font-family:Calibri;
}
